services:
  # ----------------- WEB SERVER (80, 443) ----------------- #

  nginx:
    container_name: nginx
    build:
      context: ./frontend/nginx
      args:
        - HOST_NAME=${HOST_NAME-localhost}
    ports:
      - "80:443"
      - "443:443"
    networks:
      - public-net
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped

  # --------------------- WEB PAGE (80) -------------------- #

  web:
    container_name: web
    build:
      context: ./frontend/web
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend/web:/app
    networks:
      - public-net
    restart: unless-stopped

  # --------------------- REDIS (6379) --------------------- #

  redis:
    container_name: redis
    image: redis:7.4.2
    volumes:
      - redis_data:/data
    command: redis-server --maxmemory 512mb --maxmemory-policy allkeys-lru --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    networks:
      - service-net
    restart: unless-stopped

  # -------------------- GATEWAY (3000) -------------------- #

  gateway:
    container_name: gateway
    build:
      context: ./backend/gateway
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/gateway/src:/app/src
    environment:
      - SERVICE_URL=gateway:3000

      - REDIS_URL=redis:6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}

      - CORS_ORIGIN=${CORS_ORIGIN-*}

      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN-15m}
      - JWT_REFRESH_EXPIRES_IN=${JWT_REFRESH_EXPIRES_IN-7d}

      - AUTH_SERVICE_URL=http://auth:3000
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - public-net
      - service-net
    restart: unless-stopped

  # -------------------- SERVICES (3000) ------------------- #

  auth:
    container_name: auth
    build:
      context: ./backend/services/auth
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/services/auth/src:/app/src
      - ms_auth_data:/app/data
    environment:
      - SERVICE_URL=auth:3000
      - GATEWAY_URL=http://gateway:3000

      - REDIS_URL=redis:6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}

      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN-15m}
      - JWT_REFRESH_EXPIRES_IN=${JWT_REFRESH_EXPIRES_IN-7d}
      - COOKIE_SECRET=${COOKIE_SECRET-${JWT_SECRET}}
      - COOKIE_MAX_AGE=${COOKIE_MAX_AGE-604800}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY-${JWT_SECRET}}

      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CLIENT_REDIRECT=${GOOGLE_CLIENT_REDIRECT}
      - FORTYTWO_CLIENT_ID=${FORTYTWO_CLIENT_ID}
      - FORTYTWO_CLIENT_SECRET=${FORTYTWO_CLIENT_SECRET}
      - FORTYTWO_CLIENT_REDIRECT=${FORTYTWO_CLIENT_REDIRECT}

      - TOTP_ISSUER=${TOTP_ISSUER-ft_transcendence}
      - TOTP_WINDOW=${TOTP_WINDOW-1}
      - TOTP_STEP=${TOTP_STEP-30}
      - TOTP_DIGITS=${TOTP_DIGITS-6}

      - PASSWORD_SALT_ROUNDS=${PASSWORD_SALT_ROUNDS-12}
      - PASSWORD_MAX_FAILED_ATTEMPTS=${PASSWORD_MAX_FAILED_ATTEMPTS-5}
      - PASSWORD_LOCK_DURATION=${PASSWORD_LOCK_DURATION-1800}
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - service-net
    restart: unless-stopped

# ------------------------- VOLUMES ------------------------ #

volumes:
  redis_data:
  ms_auth_data:

# ------------------------- NETWORK ------------------------ #

networks:
  public-net:
    name: public-net
    driver: bridge
  service-net:
    name: service-net
    driver: bridge
