services:

  # ----------------- WEB SERVER (443) ----------------- #

  nginx:
    container_name: nginx
    build:
      context: ./backend/nginx
      args:
        - HOST_NAME=${HOST_NAME-localhost}
    ports:
      - "8443:443"
    networks:
      - frontend-net
      - backend-net
    restart: unless-stopped

  # --------------------- WEB PAGE (80) -------------------- #

  web:
    container_name: web
    build:
      context: ./frontend/web
      dockerfile: Dockerfile
    volumes:
      - ./frontend/web:/app
    networks:
      - frontend-net
    restart: unless-stopped

  # -------------------- GATEWAY (3000) -------------------- #

  gateway:
    container_name: gateway
    build:
      context: ./backend/gateway
      dockerfile: Dockerfile
    volumes:
      - ./backend/gateway/src:/app/src
    environment:
      - SERVICE_URL=gateway:3000
      - STATS_SERVICE_URL=http://stats:3000
      - GAME_SERVICE_URL=http://game:3000
      - DEEPPONG_SERVICE_URL=http://deeppong:3000
      - CORS_ORIGIN=${CORS_ORIGIN-*}
    networks:
      - backend-net
      - service-net
    restart: unless-stopped

  # --------------- MICRO-SERVICES --------------- #

  # Stats (3000)
  stats:
    container_name: stats
    build:
      context: ./backend/services/stats
      dockerfile: Dockerfile
    volumes:
      - ./backend/services/stats/src:/app/src
      - stats_data:/app/data
    environment:
      - SERVICE_URL=stats:3000
    networks:
      - service-net
    restart: unless-stopped

  # Game (3000)
  game:
    container_name: game
    build:
      context: ./backend/services/game
      dockerfile: Dockerfile
    volumes:
      - ./backend/services/game/src:/app/src
    environment:
      - SERVICE_URL=game:3000
    networks:
      - service-net
    restart: unless-stopped
    
  # DeepPong (3000)
  deeppong:
    container_name: deeppong
    build:
      context: ./backend/services/deeppong
      dockerfile: Dockerfile
    volumes:
      - ./backend/services/deeppong/src:/app/src
    environment:
      - SERVICE_URL=deeppong:3000
    networks:
      - service-net
    restart: unless-stopped

# ------------------------- VOLUMES ------------------------ #

volumes:
  stats_data:
    name: stats_data

# ------------------------- NETWORK ------------------------ #

networks:
  frontend-net:
    name: frontend-net
    driver: bridge
  backend-net:
    name: backend-net
    driver: bridge
  service-net:
    name: service-net
    driver: bridge
