services:

  # ----------------- WEB SERVER (443) ----------------- #

  nginx:
    container_name: nginx
    build:
      context: ./backend/nginx
      args:
        - HOST_NAME=${HOST_NAME-localhost}
    ports:
      - "443:443"
    networks:
      - public-net
    restart: unless-stopped

  # --------------------- WEB PAGE (80) -------------------- #

  web:
    container_name: web
    build:
      context: ./frontend/web
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend/web:/app
    networks:
      - public-net
    restart: unless-stopped

  # -------------------- GATEWAY (3000) -------------------- #

  gateway:
    container_name: gateway
    build:
      context: ./backend/gateway
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/gateway/src:/app/src
    environment:
      - SERVICE_URL=gateway:3000
      - AUTH_SERVICE_URL=http://auth:3000
      - AUTH_SERVICE_URL=http://stats:3000
      - CORS_ORIGIN=${CORS_ORIGIN-*}
    networks:
      - public-net
      - service-net
    restart: unless-stopped

  # --------------- MICRO-SERVICES --------------- #

  # Auth (3000)
  auth:
    container_name: auth
    build:
      context: ./backend/services/auth
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/services/auth/src:/app/src
      - ms_auth_data:/app/data
    environment:
      - SERVICE_URL=auth:3000
    networks:
      - service-net
    restart: unless-stopped

  # Stats (3000)
  stats:
    container_name: stats
    build:
      context: ./backend/services/stats
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/services/stats/src:/app/src
      - ms_stats_data:/app/data
    environment:
      - SERVICE_URL=stats:3000
    networks:
      - service-net
    restart: unless-stopped

# ------------------------- VOLUMES ------------------------ #

volumes:
  ms_auth_data:
  ms_stats_data:

# ------------------------- NETWORK ------------------------ #

networks:
  public-net:
    name: public-net
    driver: bridge
  service-net:
    name: service-net
    driver: bridge
