
services:


# ----------------- WEB SERVER ----------------- #


  # Nginx (80, 443 & 9113)
  nginx:
    container_name: nginx                               # Container name
    build:
      context: ./frontend/nginx                         # Location of the Dockerfile
    ports:
      - "80:80"                                         # Port for HTTP
      - "443:443"                                       # Port for HTTPS
    networks:
      - pong-net                                        # Network connecting all containers
    restart: always                                     # Restart container in case of failure

  # Web (3000)
  web:
    container_name: web
    build: 
      context: ./frontend/web
      dockerfile: Dockerfile.dev                        # Usaremos un Dockerfile específico para desarrollo
    volumes:
      - ./frontend/web:/app                             # Montar código fuente
    environment:
      - VITE_API_URL=http://backend:3000/api            # Variable para tu API
      - CHOKIDAR_USEPOLLING=true
    networks:
      - pong-net


# ------------------- METRICS ------------------ #


  # Prometheus (9090)
  prometheus:
    container_name: prometheus                          # Container name
    build:
      context: ./backend/metrics/prometheus             # Location of the Dockerfile
    volumes:
      - prometheus_data:/prometheus                     # Prometheus data volume
    networks:
      - pong-net                                        # Network connecting all containers
    restart: always                                     # Restart container in case of failure

  # Grafana (3000)
  grafana:
    container_name: grafana                             # Container name
    build:
      context: ./backend/metrics/grafana                # Location of the Dockerfile
    env_file: .env                                      # File with environment variables
    environment:
      - GF_SERVER_ROOT_URL=https://localhost/grafana/   # Base path for Grafana
      - GF_SECURITY_ADMIN_USER=grafana                  # Admin name
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASS}        # Admin pass
    volumes:
      - grafana_data:/var/lib/grafana                   # Grafana data volume
    networks:
      - pong-net                                        # Network connecting all containers
    restart: always                                     # Restart container in case of failure

  # AlertManager (9093)
  alertmanager:
    container_name: alertmanager                        # Container name
    build:
      context: ./backend/metrics/alertmanager           # Location of the Dockerfile
    volumes:
      - alertmanager_data:/alertmanager                 # AlertManager data volume
    networks:
      - pong-net                                        # Network connecting all containers
    restart: always                                     # Restart container in case of failure


# ------------------- LOGGING ------------------ #


  # ElasticSearch (9200 & 9114)
  elasticsearch:
    container_name: elasticsearch                       # Container name
    build:
      context: ./backend/logging/elasticsearch          # Location of the Dockerfile
    env_file: .env                                      # File with environment variables
    environment:
      - discovery.type=single-node                      # Set to single-node mode (multi-node clustering is unnecessary for this project)
      - xpack.security.enabled=true                     # Enable security features (e.g., authentication)
      - logger.level=ERROR                              # Set logging level to show only errors (TRACE, DEBUG, INFO, WARN, ERROR, FATAL)
      - ES_USERNAME=elastic                             # User name
      - ES_PASSWORD=${ADMIN_PASS}                       # User pass
      - ELASTIC_PASSWORD=${ADMIN_PASS}                  # Admin pass
    volumes:
      - elastic_data:/usr/share/elasticsearch/data      # Bind mount (temporary)
    networks:
      - pong-net                                        # Network connecting all containers
    restart: always                                     # Restart container in case of failure

  # LogStash (5044)
  logstash:
    container_name: logstash                            # Container name
    build:
      context: ./backend/logging/logstash               # Location of the Dockerfile
    env_file: .env                                      # File with environment variables
    environment:
      - ELASTICSEARCH_USERNAME=elastic                  # Admin name
      - ELASTICSEARCH_PASSWORD=${ADMIN_PASS}            # Admin pass
    networks:
      - pong-net                                        # Network connecting all containers
    restart: always                                     # Restart container in case of failure

  # Kibana (5601)
  kibana:
    container_name: kibana                              # Container name
    image: docker.elastic.co/kibana/kibana:7.17.4
    env_file: .env                                      # File with environment variables
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200   # Elasticsearch URL
      - SERVER_BASEPATH=/kibana                         # Base path for Kibana
      - ELASTICSEARCH_USERNAME=elastic                  # Admin name
      - ELASTICSEARCH_PASSWORD=${ADMIN_PASS}            # Admin pass
      - ES_JAVA_OPTS=-Xms512m -Xmx512m                  # Set the minimum and maximum heap size to 512MB
    networks:
      - pong-net                                        # Network connecting all containers
    restart: always                                     # Restart container in case of failure


# --------------- MICRO-SERVICES --------------- #


  # Redis (6379)
  redis:
    container_name: redis                               # Container name
    image: redis:latest
    volumes:
      - redis_data:/data                                # Redis data volume
    networks:
      - pong-net                                        # Network connecting all containers
    restart: always                                     # Restart container in case of failure

  # API Gateway + Fastify (3000)
  gateway:
    container_name: gateway                             # Container name
    env_file: .env                                      # File with environment variables
    build:
      context: ./backend/gateway
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/gateway:/app
    networks:
      - pong-net

  # Microservices

  template:
    container_name: template                            # Container name
    build:
      context: ./backend/microservices/template
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/microservices/template/src:/app/src
      - ./backend/microservices/template/data:/app/data
    environment:
      - NODE_ENV=development
      - PORT=3000
      - HOST=0.0.0.0
      - LOG_LEVEL=debug
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - LOGSTASH_HOST=logstash
      - LOGSTASH_PORT=5044
      - APP_NAME=template
    ports:
      - "3001:3000"
    networks:
      - pong-net
    depends_on:
      - redis
      - logstash
    restart: unless-stopped

  # template:
  #   container_name: template                          # Container name
  #   build:
  #     context: ./backend/microservices/template
  #     dockerfile: Dockerfile.dev
  #   volumes:
  #     - template_data:/data
  #     - ./backend/microservices/template/src:/app/src # Hot-reload
  #   environment:
  #     - REDIS_URL=redis://redis:6379
  #     - DB_PATH=/data/template.db
  #   networks:
  #     - pong-net


# ------------------ VOLUMES ------------------- #


volumes:
  # template_data:
  prometheus_data:                                      # Prometheus data volume
  grafana_data:                                         # Grafana data volume
  alertmanager_data:                                    # AlertManager data volume
  portainer_data:                                       # Portainer data volume
  elastic_data:                                         # ElasticSearch data volume
  redis_data:                                           # Redis data volume
    driver: local                                       # Use the local driver for this volume
    driver_opts:
      type: none                                        # Use a bind mount instead of creating a separate filesystem
      device: ./backend/logging/data                    # Path in the host filesystem for the bind mount
      o: bind                                           # Activate the bind mount


# ------------------ NETWORK ------------------- #

networks:
  pong-net:
    name: pong-net                                      # Network connecting all containers
