services:
  # Ports (80, 443)

  # ----------------- WEB SERVER ----------------- #

  # Nginx (80, 443 & 9113)
  nginx:
    container_name: nginx
    build:
      context: ./infrastructure/nginx
      args:
        - HOST_NAME=${HOST_NAME-localhost}
    ports:
      - "80:443"
      - "443:443"
    networks:
      - public-net
      - monitoring-net
      - logging-net
    restart: unless-stopped

  # Web (80)
  web:
    container_name: web
    build:
      context: ./frontend/web
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend/web:/app
      # - ./frontend/web/public:/app/public
    networks:
      - public-net
    restart: unless-stopped

  # ------------------- LOGGING ------------------ #

  # ElasticSearch (9200 & 9114)
  # elasticsearch:
  #   container_name: elasticsearch
  #   build:
  #     context: ./infrastructure/monitoring/logging/elasticsearch
  #   volumes:
  #     - elasticsearch_data:/usr/share/elasticsearch/data
  #   environment:
  #     - discovery.type=single-node
  #     - xpack.security.enabled=true
  #     - logger.level=ERROR
  #     - ES_JAVA_OPTS=-Xms1g -Xmx1g
  #     - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME-${ADMIN_USERNAME}}
  #     - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD-${ADMIN_PASSWORD}}
  #   networks:
  #     - logging-net
  #     - monitoring-net
  #     - db-net
  #   healthcheck:
  #     test:
  #       [
  #         "CMD",
  #         "bash",
  #         "-c",
  #         "curl -f -u $$ELASTICSEARCH_USERNAME:$$ELASTICSEARCH_PASSWORD http://localhost:9200/_cluster/health?wait_for_status=yellow\\&timeout=30s",
  #       ]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #     start_period: 30s
  #   restart: unless-stopped

  # LogStash (5044)
  # logstash:
  #   container_name: logstash
  #   build:
  #     context: ./infrastructure/monitoring/logging/logstash
  #   environment:
  #     - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
  #     - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME-${ADMIN_USERNAME}}
  #     - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD-${ADMIN_PASSWORD}}
  #   networks:
  #     - logging-net
  #   restart: unless-stopped

  # Kibana (5601)
  # kibana:
  #   container_name: kibana
  #   build:
  #     context: ./infrastructure/monitoring/logging/kibana
  #   environment:
  #     - SERVER_BASEPATH=/kibana
  #     - ES_JAVA_OPTS=-Xms512m -Xmx512m
  #     - SERVER_PUBLICBASEURL=${HOST_NAME-https://localhost}/kibana
  #     - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
  #     - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME-${ADMIN_USERNAME}}
  #     - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD-${ADMIN_PASSWORD}}
  #   depends_on:
  #     elasticsearch:
  #       condition: service_healthy
  #   networks:
  #     - public-net
  #     - logging-net
  #   restart: unless-stopped

  # ------------------- METRICS ------------------ #

  # Prometheus (9090)
  # prometheus:
  #   container_name: prometheus
  #   build:
  #     context: ./infrastructure/monitoring/metrics/prometheus
  #   volumes:
  #     - prometheus_data:/prometheus
  #   networks:
  #     - monitoring-net
  #   restart: unless-stopped

  # # Grafana (3000)
  # grafana:
  #   container_name: grafana
  #   build:
  #     context: ./infrastructure/monitoring/metrics/grafana
  #   volumes:
  #     - grafana_data:/var/lib/grafana
  #   environment:
  #     - GF_SERVER_ROOT_URL=${HOST_NAME-https://localhost}/grafana
  #     - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME-${ADMIN_USERNAME}}
  #     - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD-${ADMIN_PASSWORD}}
  #   networks:
  #     - public-net
  #     - monitoring-net
  #   restart: unless-stopped

  # # AlertManager (9093)
  # alertmanager:
  #   container_name: alertmanager
  #   build:
  #     context: ./infrastructure/monitoring/metrics/alertmanager
  #   volumes:
  #     - alertmanager_data:/alertmanager
  #   networks:
  #     - monitoring-net
  #   restart: unless-stopped

  # --------------- REDIS & GATEWAY --------------- #

  # Redis (6379)

  redis:
    container_name: redis
    image: redis:7.4.2
    volumes:
      - redis_data:/data
    command: redis-server --maxmemory 512mb --maxmemory-policy allkeys-lru --requirepass ${REDIS_PASSWORD-${ADMIN_PASSWORD}}
    healthcheck:
      test:
        [
          "CMD",
          "redis-cli",
          "-a",
          "${REDIS_PASSWORD-${ADMIN_PASSWORD}}",
          "ping",
        ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    networks:
      - db-net
    restart: unless-stopped

  # Gateway (3000)
  gateway:
    container_name: gateway
    build:
      context: ./backend/gateway
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/gateway/src:/app/src
    environment:
      - SERVICE_URL=gateway:3000
      - LOGSTASH_URL=logstash:5044

      - REDIS_URL=redis:6379
      - REDIS_PASSWORD=${REDIS_PASSWORD-${ADMIN_PASSWORD}}

      - CORS_ORIGIN=${CORS_ORIGIN-*}

      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN-15m}
      - JWT_REFRESH_EXPIRES_IN=${JWT_REFRESH_EXPIRES_IN-7d}

      - AUTH_SERVICE_URL=http://auth:3000
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - public-net
      - service-net
      - monitoring-net
      - logging-net
      - db-net
    restart: unless-stopped

  # --------------- MICRO-SERVICES --------------- #

  # Auth (3000)
  auth:
    container_name: auth
    build:
      context: ./backend/services/auth
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/services/auth/src:/app/src
      - ms_auth_data:/app/data
    environment:
      - SERVICE_URL=auth:3000
      - GATEWAY_URL=http://gateway:3000

      - REDIS_URL=redis:6379
      - REDIS_PASSWORD=${REDIS_PASSWORD-${ADMIN_PASSWORD}}

      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN-15m}
      - JWT_REFRESH_EXPIRES_IN=${JWT_REFRESH_EXPIRES_IN-7d}
      - COOKIE_SECRET=${COOKIE_SECRET-${JWT_SECRET}}
      - COOKIE_MAX_AGE=${COOKIE_MAX_AGE-604800}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY-${JWT_SECRET}}

      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CLIENT_REDIRECT=${GOOGLE_CLIENT_REDIRECT}
      - FORTYTWO_CLIENT_ID=${FORTYTWO_CLIENT_ID}
      - FORTYTWO_CLIENT_SECRET=${FORTYTWO_CLIENT_SECRET}
      - FORTYTWO_CLIENT_REDIRECT=${FORTYTWO_CLIENT_REDIRECT}

      - TOTP_ISSUER=${TOTP_ISSUER-ft_transcendence}
      - TOTP_WINDOW=${TOTP_WINDOW-1}
      - TOTP_STEP=${TOTP_STEP-30}
      - TOTP_DIGITS=${TOTP_DIGITS-6}

      - PASSWORD_SALT_ROUNDS=${PASSWORD_SALT_ROUNDS-12}
      - PASSWORD_MAX_FAILED_ATTEMPTS=${PASSWORD_MAX_FAILED_ATTEMPTS-5}
      - PASSWORD_LOCK_DURATION=${PASSWORD_LOCK_DURATION-1800}
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - public-net
      - service-net
      - monitoring-net
      - db-net
    restart: unless-stopped

# ------------------ VOLUMES ------------------- #

volumes:
  elasticsearch_data:
  prometheus_data:
  grafana_data:
  alertmanager_data:
  redis_data:
  ms_auth_data:

# ------------------ NETWORK ------------------- #

networks:
  public-net:
    name: public-net
    driver: bridge
  monitoring-net:
    name: monitoring-net
    driver: bridge
  logging-net:
    name: logging-net
    driver: bridge
  db-net:
    name: db-net
    driver: bridge
  service-net:
    name: service-net
    driver: bridge
