
services:


# ----------------- WEB SERVER ----------------- #


  # Nginx (80, 443 & 9113)
  nginx:
    container_name: nginx
    build:
      context: ./frontend/nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - pong-net
    restart: unless-stopped

  # Web (3000)
  web:
    container_name: web
    build: 
      context: ./frontend/web
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend/web:/app
    environment:
      - VITE_API_URL=http://gateway:3000/api
      - CHOKIDAR_USEPOLLING=true
    networks:
      - pong-net


# ------------------- METRICS ------------------ #


  # Prometheus (9090)
  prometheus:
    container_name: prometheus
    build:
      context: ./backend/metrics/prometheus
    volumes:
      - prometheus_data:/prometheus
    networks:
      - pong-net
    restart: unless-stopped

  # Grafana (3000)
  grafana:
    container_name: grafana
    build:
      context: ./backend/metrics/grafana
    env_file:
        - ./env/.env_grafana
    environment:
      - GF_SERVER_ROOT_URL=https://localhost/grafana/   # Base path for Grafana
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - pong-net
    restart: unless-stopped

  # AlertManager (9093)
  alertmanager:
    container_name: alertmanager
    build:
      context: ./backend/metrics/alertmanager
    volumes:
      - alertmanager_data:/alertmanager
    networks:
      - pong-net
    restart: unless-stopped


# ------------------- LOGGING ------------------ #


  # ElasticSearch (9200 & 9114)
  elasticsearch:
    container_name: elasticsearch
    build:
      context: ./backend/logging/elasticsearch
    env_file:
      - ./env/.env_elasticsearch
    environment:
      - discovery.type=single-node                      # Set to single-node mode (multi-node clustering is unnecessary for this project)
      - xpack.security.enabled=true                     # Enable security features (e.g., authentication)
      - logger.level=ERROR                              # Set logging level to show only errors (TRACE, DEBUG, INFO, WARN, ERROR, FATAL)
    volumes:
      - elastic_data:/usr/share/elasticsearch/data      # Bind mount (temporary)
    networks:
      - pong-net
    restart: unless-stopped

  # LogStash (5044)
  logstash:
    container_name: logstash
    build:
      context: ./backend/logging/logstash
    env_file:
      - ./env/.env_elasticsearch
    networks:
      - pong-net
    restart: unless-stopped

  # Kibana (5601)
  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:7.17.4
    env_file:
      - ./env/.env_elasticsearch
    environment:
      - SERVER_BASEPATH=/kibana                         # Base path for Kibana
      - ES_JAVA_OPTS=-Xms512m -Xmx512m                  # Set the minimum and maximum heap size to 512MB
    networks:
      - pong-net
    restart: unless-stopped


# --------------- MICRO-SERVICES --------------- #


  # Redis (6379)
   
  redis:
    container_name: redis
    image: redis:7.4.2
    volumes:
      - redis_data:/data
    env_file:
      - ./env/.env_redis
    command: >
      redis-server 
      --maxmemory 512mb 
      --maxmemory-policy allkeys-lru 
      --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    networks:
      - pong-net
    restart: unless-stopped

  # Gateway (3000)
  gateway:
    container_name: gateway
    env_file:
      - ./env/.env_redis
      - ./env/.env_gateway
    build:
      context: ./backend/gateway
      dockerfile: Dockerfile.dev
    healthcheck:
      test: ["CMD", "wget", "--spider", "--quiet", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - ./backend/gateway:/app
    networks:
      - pong-net

  # Microservices

  user:
    container_name: user
    env_file:
      - ./env/.env_redis
      - ./env/.env_user
    build:
      context: ./backend/microservices/user
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/microservices/user/src:/app/src
      - ./backend/microservices/user/data:/app/data
    depends_on:
      gateway:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - pong-net
    restart: unless-stopped


# ------------------ VOLUMES ------------------- #


volumes:
  alertmanager_data:
  prometheus_data:
  grafana_data:
  elastic_data:
  redis_data:
    driver: local                                       # Use the local driver for this volume
    driver_opts:
      type: none                                        # Use a bind mount instead of creating a separate filesystem
      device: ./backend/logging/data                    # Path in the host filesystem for the bind mount
      o: bind                                           # Activate the bind mount


# ------------------ NETWORK ------------------- #

networks:
  pong-net:
    name: pong-net
