.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: rgba(75, 85, 99, 0.6) transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
	width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(75, 85, 99, 0.6);
	border-radius: 20px;
	border: 2px solid transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: rgba(75, 85, 99, 0.8);
  }